root = true

# Unix-style newlines with a newline ending every file and no trailing whitespace
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Set default charset
[*.{py,js,json,html,css}]
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*.{html,js,css}]
indent_style = space
indent_size = 2
