{% load cms_tags menu_tags sekizai_tags staticfiles compile_static %}
<html>
  <head>
    <title>
      {% page_attribute "page_title" %}
    </title>
    <link rel="stylesheet" href="{% static 'scss/main.scss'|compile %}" />
    {% block css %} {% endblock css %}
    {% render_block "css" %}
    {% block js %} {% endblock js %}
    {% render_block "js" %}
  </head>
  <body>
    {% cms_toolbar %}
    {% show_menu 0 100 100 100 "base/includes/header.html" %}

    <main>
      {% block content %}
        {% placeholder "content" %}
      {% endblock content %}
    </main>

    {% include "base/includes/footer.html" %}
  </body>
</html>
