@charset "UTF-8";

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

$color-dark: #333;

body {
  background: #ddd;
  max-width: 1080px;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.7em;
}

/* Header */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.dropdown-item:hover {
  background: $color-dark;
}

@include media-breakpoint-up(md) {
  .navbar {
    padding: 0px 16px;

    .nav-item .nav-link {
      padding: 10px 20px;
      &:hover:not(.dropdown-toggle) {
        background: $color-dark;
      }
    }

    .active {
      background: $color-dark;
    }

    .dropdown {
      &:hover > .dropdown-menu {
        display: block;
      }
      > .dropdown-toggle:active {
        pointer-events: none;
      }
    }
  }
}

main {
  background: #fff;
  padding: 20px 50px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;

  &.no-gap {
    grid-gap: 0px;
  }

  .col-1 {
    grid-column: span 1;
  }
  .col-2 {
    grid-column: span 2;
  }
  .col-3 {
    grid-column: span 3;
  }
  .col-4 {
    grid-column: span 4;
  }
  .col-5 {
    grid-column: span 5;
  }
  .col-6 {
    grid-column: span 6;
  }
  .col-7 {
    grid-column: span 7;
  }
  .col-8 {
    grid-column: span 8;
  }
  .col-9 {
    grid-column: span 9;
  }
  .col-10 {
    grid-column: span 10;
  }
  .col-11 {
    grid-column: span 11;
  }
  .col-12 {
    grid-column: span 12;
  }
}

/* Footer */
footer {
  background: #ccc;
  padding: 20px;
}

/* Blog */
.blog {
  > ul {
    list-style-type: none;
    > li {
      a {
        text-decoration: none;
        color: #437fe6;
        &:hover {
          color: #3869be;
        }
      }
    }
  }
}
