@charset "UTF-8";

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* Color variables */
$color-dark: #333;
$royal-blue: #4169E1;
$cerulean: #007BA7;

body {
  background: #ddd;
  max-width: 1080px;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.7em;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

/* Header */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.dropdown-item:hover {
  background: $color-dark;
}

@include media-breakpoint-up(md) {
  .navbar {
    padding: 0px 16px;

    .nav-item .nav-link {
      padding: 10px 20px;
      &:hover:not(.dropdown-toggle) {
        background: $color-dark;
      }
    }

    .active {
      background: $color-dark;
    }

    .dropdown {
      &:hover > .dropdown-menu {
        display: block;
      }
      > .dropdown-toggle:active {
        pointer-events: none;
      }
    }
  }
}

main {
  background: #fff;
  padding: 20px 10px;
}

/* Footer */
footer {
  background: #ccc;
  padding: 20px;
}

/* Blog */
.blog-app {
  .post-list {
    > ul {
      padding-left: 5px;
      padding-top: 20px;
      list-style-type: none;

      @include media-breakpoint-up(sm) {
        padding-left: 20px;
      }

      @include media-breakpoint-up(md) {
        padding-left: 40px;
      }

      > li {
        a {
          text-decoration: none;
          color: $royal-blue;
          &:hover {
            color: $cerulean;
          }
        }
      }
    }
  }

  .post-detail {
    h1 {
      color: $royal-blue;
    }
  }
}

/* Contacts */
.contacts-app {
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .contact {
    padding: 0px 20px;
  }

  a {
    text-decoration: none;
    color: $color-dark;
    &:hover {
      color: $royal-blue;
    }
  }

  .contact-icon {
    color: #fff;
  }

}



