{% load cms_tags menu_tags sekizai_tags staticfiles pipeline %}
<html>
  <head>
    <title>
      {% page_attribute "page_title" %}
    </title>
    {% stylesheet 'main' %}
    {% block css %} {% endblock css %}
    {% render_block "css" %}

    {% javascript 'main' %}
    {% block js %} {% endblock js %}
    {% render_block "js" %}
  </head>
  <body>
    {% cms_toolbar %}
    {% show_menu 0 100 100 100 "base/includes/header.html" %}

    <main>
      {% block content %}
        {% placeholder "content" %}
      {% endblock content %}
    </main>

    {% include "base/includes/footer.html" %}
  </body>
</html>
